{% extends "tip/base.html" %}
{% load crispy_forms_tags %}
{# schönere forms #}
{% block content %}
    <div class="content-section" xmlns="http://www.w3.org/1999/html">
        <form method="POST">
{#            security token required #}
            {%  csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            <small>
                <a class="ml-2" href="{% url 'password_reset' %}">Passwort vergessen?</a>
            </small>
{#                print entire form#}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">LogIn</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Kein Account? <a class="ml-2" href="{% url 'login' %}">Registrieren</a>
            </small>
        </div>
    </div>
{% endblock content %}