{% extends "tip/base.html" %}
{% block content %}
{% load i18n dicthelpers %}
    <p class="text-muted">Top 3:</p>
    <section data-role="content">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <div class="row">
                <div class="col">
                  <small class="text-muted"></small><br>
                  <small class="text-muted">Rang</small>
                </div>
                <div class="col">
{#                  <small class="text-muted"></small><br>#}
{#                  <small class="text-muted"></small>#}
                </div>
                <div class="col">
                  <small class="text-muted"></small><br>
                  <small class="text-muted">Name</small>
                </div>
                <div class="col">
                  <small class="text-muted"></small><br>
                  <small class="text-muted">Joker</small>
                </div>
                <div class="col">
                  <small class="text-muted"></small><br>
                  <small class="text-muted">Punkte</small>
                </div>
                <div class="col">
                  <small class="text-muted"></small><br>
                  <small class="text-muted">Champion</small>
                </div>
              </div>
{#              <small class="text-muted">{{ match.match_date|date:'d.m.Y H:i' }}</small>#}
            </div>
            {% for user in top_player %}
              <div class="row">
                      <div class="col">
                        <p class=align-right>{{ user.rank }}.</p>
                      </div>
                      <div class="col">
                        <img class="rounded-circle" width="60" height="60" border="1px" src="{{ user.image.url }}">
                      </div>
                      <div class="col">
                        <p class="align-right" >{{ user.user.username }}<br/></p>
                      </div>
                      <div class="col">
                        <p class="align-right">{{ user.joker }}</p>
                      </div>
                      <div class="col">
                        <p class="align-right">{{ user.score }}</p>
                      </div>
                      <div class="col">
{#                        {% if not user.user_champion.eliminated %}#}
                        <p class="align-right">{{ user.user_champion }}</p>
{#                        {% else %}#}
{#                        <p> </p>#}
{#                        {% endif %}#}
                      </div>
               </div>
               <div class="row">
               <p>

               </p>
               </div>
                {% endfor %}
           </div>
        </article>
    </section>
    <p class="text-muted">Die nächsten Spiele:</p>
    {% for match in upcoming_matches %}
    {% with tipp=tipps|lookup:match.pk %}
    <section data-role="content">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <div class="row">
                <div class="col">
                  <small class="text-muted">{{ match.match_date|date:'d.m.Y H:i' }}</small><br>
                  <small class="text-muted">Heim</small>
                </div>
                <div class="col">
                  <small class="text-muted"></small><br>
                  <small class="text-muted">Tipp</small>
                </div>
                <div class="col">
                  <small class="text-muted"> </small><br>
                  <small class="text-muted">Gast</small>
                </div>
                <div class="col">
                  <small class="text-muted"> </small><br>
                  <small class="text-muted">Joker</small>
                </div>
              </div>
{#              <small class="text-muted">{{ match.match_date|date:'d.m.Y H:i' }}</small>#}
            </div>
              <div class="row">

        <div class="col">
            <p class=>{{ match.home_team.team_name}}</p>
        </div>

        <div class="col">
            {% if tipp %}
            <p> {{ tipp.tip_home }}:{{ tipp.tip_guest }}</p>
            {% else %}
            <p>-:-</p>
            {% endif %}
        </div>


        <div class="col">
              <p>{{ match.guest_team.team_name}}</p>
        </div>

         <div class="col">
              {% if  tipp.joker  %}
                  <input type="checkbox" id="Joker-{{ match.id }}" name="Joker-{{ match.id }}" checked onclick="return false;" />
              {% else %}
                  <input type="checkbox" id="Joker-{{ match.id }}" name="Joker-{{ match.id }}" onclick="return false;"/>
              {%  endif %}
        </div>
      </div>
          </div>
        </article>
    </section>
    {% endwith %}
    {% endfor %}
<p class="text-muted">Die Regeln:</p>
{#    <object data=”~/Desktop/MasterarbeitBescheinigugn.pdf" type=”application/pdf” width=”100%” height=”100%”></object>#}
        <iframe src="/media/WS1920.pdf" width="100%" height="500px">
    </iframe>
{% endblock content %}
{#curly brakets for variables#}
