{% extends "tip/base.html" %}
{% block content %}


<section data-role="content">
    <ul data-role="listview" data-filter="true">
    {% for match in match %}
        {{ match.team_home }}
        <li class="list-group-item">{{ match.home_team.team_name}} vs. {{ match.guest_team.team_name }}</li>
{#          <li><a href="{% url tippspiel_match_detail match.pk %}">{{ match.team_home.name }} {% trans "vs." %} {{ match.team_visitor.name }}</a></li>#}
    {% endfor %}
    </ul>
</section>

{% endblock content %}