{% extends "tip/base.html" %}
{% block content %}
{% load i18n dicthelpers %}

<section data-role="content">
    <form action="{% url 'tip-matchday' number %}" method="post">
    {% csrf_token %}
    <ul style="list-style: none;">
        {% for match in match %}
        {% with tipp=tipps|lookup:match.pk %}
        <li>
{#            # schlau zeige entweder text feld für tipp eingabe, solange spiel noch nicht gestartet ist oder#}
            {% if match.has_started %}
            {% include "tip/match/match_started.html" %}
            {% else %}
            {% include "tip/match/match_not_started.html" %}
            {% endif %}
        </li>
        {% endwith %}
        {% endfor %}
        <li>
            <button type="submit" data-icon="check" data-iconpos="right" data-theme="b">{% trans "Save" %}</button>
        </li>
    </ul>
    </form>
</section>
{% endblock %}