{% extends "tip/base.html" %}
{% block content %}
{% load i18n dicthelpers %}

<section data-role="content">
    <form action="{% url 'tip-settings' number %}" method="post">
    {% csrf_token %}
    <div>
        {% for match in matches %}

            {% include "tip/settings/settings_match.html" %}

        {% endfor %}

        <button type="submit" class="btn btn-outline-success mb-4" onclick="myFunction()">{% trans "Save" %}</button>
    </div>
    </form>

{#    <form action={% url 'tip-settings-update' %}>#}
{#        <button type="submit"  id="update_save" class="invisible" >{% trans "Update" %}</button>#}
{#    </form>#}

</section>
{% if matches.has_other_pages %}
  <nav aria-label="Page navigation example">
  <ul class="pagination mb-4">
    {% if matches.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?page={{ matches.previous_page_number }}">
          <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
    {% else %}
      <li class="page-item disabled">
          <span class="page-link" >&laquo;</span>
      </li>
    {% endif %}
    {% for i in matches.paginator.page_range %}
      {% if matches.number == i %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if matches.has_next %}
      <li class="page-item">
          <a class="page-link" href="?page={{ matches.next_page_number }}">
          &raquo;
          </a>
      </li>
    {% else %}
      <li class="page-item disabled">
          <span class="page-link">&raquo;</span>
      </li>
    {% endif %}
  </ul>
  </nav>
{% endif %}
{% endblock %}