{% load i18n staticfiles %}
{#            <a href="{% url 'tip-matchday' match.pk %}">#}
                <div class="row">
                    <div class="col-sm-4">
                        <p class=>{{ match.home_team.team_name}}</p>
                    </div>
                    <div class="col-sm-4">

                        <p class="tippspiel_match_result">
                                {% if match.home_score == -1 or match.guest_score == -1 %}
                                -:-
                                {% else %}
                                {{ match.home_score }}:{{ match.guest_score }}
                                {% endif %}
                        </p>
                        <p class="tippspiel_tipp_result">
                                {% if tipp %}
                                {{ tipp.tip_home }}:{{ tipp.tip_guest }} ({{ tipp.points }})
                                {% else %}
                                -:- (0 {% trans "points" %})
                                {% endif %}
                        </p>
                    </div>
                    <div class="col-sm-4" style="text-align: right;">
                        <p>{{ match.guest_team.team_name}}</p>
                    </div>
                </div>
{#            </a>#}


{#{% load i18n staticfiles %}#}
{#            <a href="{% url 'tip-matchday' match.pk %}">#}
{#                <div class="row">#}
{#                    <div class="ui-block-a">#}
{#                        <p class=>{{ match.home_team.team_name}}</p>#}
{#                    </div>#}
{#                    <div class="ui-block-b">#}
{##}
{#                        <p class="tippspiel_match_result">#}
{#                                {% if match.home_score == -1 or match.guest_score == -1 %}#}
{#                                -:-#}
{#                                {% else %}#}
{#                                {{ match.home_score }}:{{ match.guest_score }}#}
{#                                {% endif %}#}
{#                        </p>#}
{#                        <p class="tippspiel_tipp_result">#}
{#                                {% if tipp %}#}
{#                                {{ tipp.tip_home }}:{{ tipp.tip_guest }} ({{ tipp.points }})#}
{#                                {% else %}#}
{#                                -:- (0 {% trans "points" %})#}
{#                                {% endif %}#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="ui-block-c" style="text-align: right;">#}
{#                        <p>{{ match.guest_team.team_name}}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </a>#}